@import bootstrap.css;
@import bootstrap.min.css;
@import bootstrap-theme.css;
@import bootstrap-theme.min.css;
@import Site.css;

hr {
    margin: 10px 0
}

.course-container {
    background: #5793b3;
    margin: 10px 10px 0 10px;
    height: 230px;
    position: relative;
    border: #437894 1px solid
}

.course-container table {
    width: 100%
}

.course-container table td {
    text-align: center;
    width: 25%
}

.course-container .course-body {
    position: absolute;
    bottom: 0;
    height: 190px;
    left: 0;
    right: 0;
    background-color: #fff
}

.course-container .course-body p.truncated {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0
}

.course-container .grade {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 30px;
    z-index: 800;
    line-height: 50px;
    font-size: 20px;
    right: 5px;
    background: #fb6964;
    text-align: center
}

.course-container .attendance {
    position: absolute;
    bottom: 35px;
    height: 25px;
    line-height: 25px;
    left: 0;
    right: 0
}

.course-container .controls {
    position: absolute;
    background: #efefef;
    bottom: 0;
    height: 25px;
    line-height: 25px;
    left: 0;
    right: 0
}

.stick {
    width: 100%;
    position: fixed;
    z-index: 800;
    top: 50px
}

.input-group,form-sel {
    margin-top: 8px
}

.row-pad {
    padding: 10px 0
}

.footer-rb {
    border-right-color: #5e5e5e;
    border-right-style: solid;
    border-right-width: 1px
}

.txt-light {
    color: #efefef!important
}

.txt-dark {
    color: #333!important
}

.fhtc-bk-grey-lt {
    background-color: #e1e1e1
}

.fhtc-bk-blue-lt {
    background-color: #d9e7ff
}

#logo-bar {
    background: rgba(75,0,100,0.85);
    height: 100px;
    position: relative;
    margin-top: 50px;
    padding: 5px 0
}

#logo-bar::after {
  content: "";
  background: rgba(75,0,100,1) url(wrangler-logo.png) no-repeat top left;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#logo-bar img {
    margin-left: 10px;
    height: 90px
}

@media(max-width: 768px) {
    #logo-bar {
        background-position:top center;
        margin-top: 50px;
    }

    div.col-sm-8 {
        text-align: center
    }

    img {
        margin-left: 0
    }
}